@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;        
    margin-top: 0em;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
    color: #333333;
    font-size: large;
}
input{font-size:1em;}
button{font-size:1em;}
select{font-size:1em;}
sup{color: brown;}
#text{
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: auto;
}
header {
    width: 100%;
    padding: 1em 4% 0.3em;
    background-color: #5b915e;
    position: static;
    top: 0;
    display: flex;
    align-items: center;
    color: #fff;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: large;
    z-index: 99;
}
header a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
    margin: 0;
    /*display: flex;*/
}
  
/* スマートフォンで見たときはheaderの表示が変更になる 
@media only screen and (max-width: 999px) {
}*/
 

input[type=checkbox] {
    transform: scale(1.5);
    z-index: 1;
}
.nav{
    line-height: 0%;
}
.menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 10px;
    line-height: 100%;
}
.title{
    margin-right: auto;
    margin-left: 0.5rem;
}
.index{
    font-size: larger;font-weight: bold;
}