@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;        
    margin-top: 0em;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #eee;
    color: #333;
    font-size: large;
    text-align: center;
}
input{font-size:1em;}
button{font-size:1em;}
select{font-size:1em;}
sup{color: brown;}
#text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 95%;
    padding: 0.2em 5vw;
    padding-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 0 1em #bbb;
    text-align: left;
}
header {
    width: 100%;
    padding: 1em 4% 1em;
    background: linear-gradient(to bottom right,#6aa43e, #5b915e);
    position: static;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 -1em 1em 1em #333;
    text-shadow: 0.02em 0.02em 0.3em #242;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: large;
    z-index: 99;
}
header a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
    margin: 0;
    /*display: flex;*/
}
  
/* スマートフォンで見たときはheaderの表示が変更になる 
@media only screen and (max-width: 999px) {
}*/
 

input[type=checkbox] {
    transform: scale(1.5);
    z-index: 1;
}
.nav{
    line-height: 0%;
}
.menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 10px;
    line-height: 100%;
}
.title{
    margin-right: auto;
    margin-left: 0.5rem;
}
.index{
    font-size: larger;font-weight: bold;
}